@media screen and (max-width: 320px) {
   .nav-links {
      flex-direction: column;
      gap: 0.3rem;
      text-align: center;
      font: .7rem;
   }
}
/*
.logo {
   font-size: 1rem;
}
.section_pic_container {
   flex-direction: column;
   width: auto;
}
.img {
   display: block;
   max-width: 100%;
}*/

@media screen and (min-width: 321px) and (max-width: 600px) {
   .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
      font-size: 1rem;
    }
   }
   /* 
   .logo {
      font-size: 2rem;
   }
   .section_pic_container {
      flex-direction: column;
      width: auto;
   }
   .img {
      display: block;
      max-width: 100%;
  }
  /*
   .section_text,
   .section_text_p,
   .section_text_p1,
   .section_text_p2,
   .section_text_p3,
   .section_text_p4 {
      text-align: left;
      font-size: .8rem;
   }
   .title {
      text-align: center;
      font-size: 1.5rem;
   }
   #title-catcher {
      text-align: center;
      font-size: 2.5rem;
   }

   .icon {
      height: 1.5rem;
   }
   input {
      height: 1rem;
      width: 4rem;
   }
   label {
      font-size: .9rem;
   }

@media screen and (min-width: 601px) and (max-width: 1200px) {
  
}

@media screen and (min-width: 1201px) {
  
}*/