/* General */
* {
    margin-bottom: .5rem;
}
.container {
    overflow: hidden;
}

body {
    font-family: 'Melodrama', serif;
    font-family: 'Telma', cursive;
    font-family: 'General Sans', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Panchang', sans-serif;
    font-weight: 450;
    background: linear-gradient(to right, rgb(182, 181, 181), rgb(110, 97, 79), rgb(137, 119, 94));
}

html {
    scroll-behavior: smooth;
}

/* Nav */

.logo {
    display: flexbox;
    text-align: center;
    justify-content: center;
    font-family: 'Melodrama', serif;
    font-size: 3.5rem;
    padding: 20px;
    border: 2.5px solid black;
    box-shadow: 0 6px 0 6px black;
    filter:drop-shadow(10px 7px 10px rgb(233, 232, 232));
}

.logo:hover  {
    cursor: default;
}

h6:hover {
    cursor: default;
}

.nav-links {
   display: flex;
   gap: 2rem;
   list-style: none;
   font-size: 1rem;
   justify-content: space-evenly;
   align-items: center;
   min-height: 10vh;
   padding: 15px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(215, 213, 213);
    text-decoration: underline;
    text-underline-offset: .6rem;
    filter:drop-shadow(10px 7px 10px black);
}

.dropdown-menu {
    display: none;
    position: absolute;
    padding-right: 1rem;
    font-size: .71rem;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: .6rem;
    background-color: rgb(68, 68, 68);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu li {
    max-height: 3vh;
    padding: .3px;
}

.dropdown-menu li a {
    color: rgb(217, 216, 216);
    border-radius: .3rem;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: rgb(4, 4, 4);
    padding: .13rem;
    margin: .12rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    list-style: none;
    border: .1rem solid black;
    border-radius: 2rem;
    filter:drop-shadow(10px 7px 10px black);
}

#search {
    padding: .5rem;
    max-height: 3.3vh;
    max-width: 6rem;
    border: 1.5px solid black;
    border-radius: 3.4px; 
}

#btn-1 {
    padding: .5rem;
    margin-bottom: .6rem;
    min-height: 5vh;
    max-width: 5rem;
    border: 1.5px solid black;
    border-radius: 3.4px;  
}

/* Sections */

section {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    margin: 0 8rem;
}

/* Profile Section */

#profile {
  gap: 5rem; 
}

.profile-list {
    display: center;
    justify-content: center;
    border: .2rem solid black;
    border-radius: 2rem;
    background:rgb(250 250 250);
    margin: 2rem auto;
    padding: 1.5rem;
    filter:drop-shadow(10px 7px 10px black); 
}

#question {                         /* Question mark img */
    display: block;
    max-height: 60vh;
    max-width: 100%; 
    padding: .4rem;
    margin: 0 auto;                 /* This will center the image horizontally */
    border: 0 solid transparent;
    border-radius: 6.5rem;
    box-shadow: 0 8px 0 8px black;
    filter: drop-shadow(10px 7px 10px black);
}

/* Blog Card */

.vintage-img {
    display: block;
    max-height: 60vh;
    max-width: 100%; 
    padding: .4rem;
    margin: 3rem auto; 
    border: 0 solid transparent;
    border-radius: 6.5rem;
    box-shadow: 0 8px 0 8px black;
    filter: drop-shadow(10px 7px 10px rgb(248, 246, 246));
}

/* All Things Section Text */

span {
    font-family: 'Telma', cursive;
    font-size: 5rem;
    font-weight: 350;
    margin: .5rem;
}
.section_text_p {
    text-align: left;
    padding: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p2 {
    text-align: left;
    font-size: 1rem;
}

.section_text_p3 {
    text-align: left;
    margin-bottom: 4.5rem;
    font-size: 1.1rem;
    font-style: bold;
    color: rgb(3, 3, 3);
}

.section_text_p4 {
    text-align: center;
    font-size: 1.3rem;
}

.title {
    font-size: 2rem;
    text-align: center;
   
}

#title-catcher {
    font-size: 3rem;
    font-family: 'Melodrama', serif;
}

/* Icons */

.icon:hover {
    border-radius: .5rem;
    background-color: rgb(190, 177, 158);
}

.icon {
    align-items: center;
    cursor: pointer;
    max-height: 1.5rem;
}

.icon_ft {
    min-height: 2rem;
}

.icon_ft:hover {
    border-radius: .5rem;
    background-color: rgb(190, 177, 158);
}

/* Email */

.email-icon {
    cursor: pointer;
    min-height: 2rem;
}

input {
    padding: 1rem;
    margin: .5rem auto;
    max-width: 10rem;
    border: 1.5px solid black;
    border-radius: 3.4px; 
}

label {
    display: flexbox;
    font-size: 1.3rem;
}

/* Button */

button {
    font-weight: 600;
    background-color: rgb(68, 68, 68);
    color: rgb(239, 239, 239);
    padding: 1rem;
    max-width: 10rem;
    border: 1.5px solid black;
    border-radius: 3.5px;
    filter:drop-shadow(10px 7px 10px black);
}

button:hover {
    cursor: pointer;
    background-color: rgb(141, 142, 142);
}

.btn {
    color: whitesmoke;
}

/* About */

.about-container {
    display: flex;
    justify-content: center;
    border: 1.4rem solid black;
    border-radius: 2rem;
    background:rgb(250 250 250);
    margin: 2rem auto;
    padding: 1.5rem;
    filter:drop-shadow(10px 7px 10px black);
}

/* Subscribe & Follow */
.subscribe-email-container { 
    display: block;
    max-width: 100%; 
    margin: 0 auto; 
    border: .2rem solid black;
    border-radius: 2rem;
    background:rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    margin: 2rem auto;
    padding: 0.5rem;
    filter:drop-shadow(10px 7px 10px black);
}

.subscribe-email {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px; 
}

.follow-container {
    display: block;
    max-width: 100%; 
    margin: 0 auto;
    border: .2rem solid black;
    border-radius: 2rem;
    background:rgb(250 250 250);
    margin: 2rem auto;
    padding: 0.5rem;
    filter:drop-shadow(10px 7px 10px black);
}

/* Contact */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.contact-info-upper-container {
    display: block;
    max-width: 100%; 
    margin: 0 auto;
    text-align: center;
    border: .2rem solid black;
    border-color: black;
    background: whitesmoke;
    border-radius: 4rem;
    margin: 2rem auto;
    padding: 0.5rem;
    filter:drop-shadow(10px 7px 10px black);
}

.contact-icon {
    cursor: pointer;
    min-height: 1rem;
}

.contact-link:hover {
    border-radius: .3rem;
    background-color: rgb(68, 68, 68);
}

/* Footer */

.footer-container {
    display: center;
    justify-content: center;
    padding: 20px;
    border: 2.5px solid black;
    box-shadow: 0 6px 0 6px black;
    filter:drop-shadow(10px 7px 10px rgb(233, 232, 232));
}

#quote {
    font-weight: 725;
    font-style: italic;
    filter:drop-shadow(3px 3px 3px rgb(233, 232, 232));
    margin-bottom: 15rem;
}

/* Media Query */

@media(min-width:320px){
    .home-page-container {
        display: flexbox;
    }
    .nav-links {
        font-size: .83rem;
    }
    .icon {
        max-height: .87rem;
    }
}

@media(min-width:600px) and (max-width: 900px) {
    .home-page-container {
        display: flexbox;
    }
    .icon {
        max-height: 2rem;
    }
    .section_text {
        margin: 1rem .7rem;
    }
}

@media(min-width:901px){
    .home-page-container {
        display: flexbox;
    }
    .nav-links {
        font-size: 1.3rem;
    }
    .icon {
        max-height: 3rem;
    }
}