/* General */

@import url('https://api.fontshare.com/v2/css?f[]=kalam@300,400,700,1&f[]=panchang@200,300,400,500,600&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=melodrama@700&f[]=telma@300,400&f[]=general-sans@200,201&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=kalam@300,400,700&display=swap');

* {
    margin-bottom: .3rem;
}
body {
    background: linear-gradient(to right, rgb(225, 224, 224), rgb(164, 164, 164), rgb(110, 97, 79), rgb(137, 119, 94));
    font-family: 'Melodrama', serif;
    font-family: 'Telma', cursive;
    font-family: 'General Sans', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Panchang', sans-serif;
    font-weight: 450;   
}

html {
    scroll-behavior: smooth;
}

.home-container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .03fr 1fr 1fr .06fr .09fr .06fr .06fr 1fr .03fr;
    gap: 15rem;
    grid-auto-flow: row;
    grid-template-areas:
      "opening opening opening opening"
      "checklist checklist checklist checklist"
      "blog-post-card blog-post-card blog-post-card blog-post-card"
      "about-details about-details about-details about-details"
      "subscribe subscribe subscribe subscribe"
      "follow follow follow follow"
      "contact contact contact contact"
      "woe woe woe woe"
      "closing closing closing closing";
  }

.opening { 
    grid-area: opening;    
}

.logo {
    display: center;
    text-align: center;
    justify-content: center;
    font-family: 'Melodrama', serif;
    font-size: 3.5rem;
    padding: 20px;
    border: 2.5px solid black;
    box-shadow: 0 6px 0 6px black;
    filter:drop-shadow(10px 7px 10px rgb(233, 232, 232));
}

.logo:hover  {
    cursor: default;
}

h6:hover {
    cursor: default;
}

.nav-links {
   display: flex;
   gap: 2rem;
   list-style: none;
   font-size: 1.1rem;
   justify-content: space-evenly;
   align-items: center;
   min-height: 10vh;
   padding: 15px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(215, 213, 213);
    text-decoration: underline;
    text-underline-offset: .6rem;
    filter:drop-shadow(10px 7px 10px black);
}   

.dropdown-menu {
    display: none;
    position: absolute;
    padding-right: .9rem;
    font-size: .71rem;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: .3rem;
    background-color: rgb(68, 68, 68);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu li {
    max-height: 3vh;
    padding: .3px;
}

.dropdown-menu li a {
    color: rgb(217, 216, 216);
    border-radius: .3rem;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: rgb(4, 4, 4);
    padding: .13rem;
    margin: .12rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    list-style: none;
    border: .1rem solid black;
    border-radius: 2rem;
    filter: drop-shadow(10px 7px 10px black);
}

#search {
    padding: .5rem;
    max-height: 3.3vh;
    max-width: 6rem;
    border: 1.5px solid black;
    border-radius: 3.4px; 
}

#btn-1 {
    padding: .5rem;
    margin-bottom: .6rem;
    min-height: 5vh;
    max-width: 5rem;
    border: 1.5px solid black;
    border-radius: 3.4px;  
}

.section_text_p2 {
    columns: 200px 2;
    column-gap: 30px;
    padding: 25px;
    font-weight: 425;
}

span {
    font-family: 'Telma', cursive;
    font-size: 3.5rem;
    font-weight: 200;
}

/* Checklist */

.checklist { 
    grid-area: checklist;
    margin: .5rem;  
}

#question {                         
    display: block;
    max-height: 60vh;
    max-width: 100%; 
    padding: .4rem;
    margin: 2rem auto; 
    margin-bottom: 9rem;              
    border: 0 solid transparent;
    border-radius: 6.5rem;
    box-shadow: 0 8px 0 8px black;
    filter: drop-shadow(10px 7px 10px black);
}

.coder-list {
    display: center;
    justify-content: center;
    border: .2rem solid black;
    border-radius: 2rem;
    background:rgb(250 250 250);
    margin: 2rem auto;
    padding: 1.5rem;
    filter:drop-shadow(10px 7px 10px black); 
} 

/* Blog Card */

.blog-post-card { 
    grid-area: blog-post-card;
}

#vintage-img {
    display: block;
    max-height: 60vh;
    max-width: 100%; 
    padding: .4rem;
    margin: 3rem auto; 
    border: 0 solid transparent;
    border-radius: 6.5rem;
    box-shadow: 0 8px 0 8px black;
    filter: drop-shadow(10px 7px 10px rgb(248, 246, 246));
}

/* Section Pgh details */

.section_text_p {
    text-align: left;
    padding: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p2 {
    text-align: left;
    font-size: 1rem;
}

.section_text_p3 {
    text-align: left;
    margin-bottom: 4.5rem;
    font-size: 1.1rem;
    font-style: bold;
    color: rgb(3, 3, 3);
}

.section_text_p4 {
    text-align: center;
    font-size: 1.3rem;
}

.title {
    font-size: 2rem;
    text-align: center;
   
}

#title-catcher {
    font-size: 3rem;
    font-family: 'Melodrama', serif;
}

/* Icons */

.icon:hover {
    border-radius: .5rem;
    background-color: rgb(190, 177, 158);
}

.icon {
    align-items: center;
    cursor: pointer;
    max-height: 1.5rem;
}

.icon_ft {
    max-height: 2.5rem;
}

.icon_ft:hover {
    border-radius: .5rem;
    background-color: rgb(190, 177, 158);
}

.email-icon {
    cursor: pointer;
    min-height: 2rem;
}

/* Button */

button {
    font-weight: 600;
    background-color: rgb(68, 68, 68);
    color: rgb(239, 239, 239);
    padding: 1rem;
    max-width: 10rem;
    border: 1.5px solid black;
    border-radius: 3.5px;
    filter:drop-shadow(10px 7px 10px black);
}

button:hover {
    cursor: pointer;
    background-color: rgb(141, 142, 142);
}

.btn {
    color: whitesmoke;
}

/* About */

.about-details { 
    grid-area: about-details;
    display: block;
    font-family: 'General Sans', sans-serif; 
    max-width: 100%;
    padding: 0.9rem;
    margin: 1.2rem;
    color: rgb(230, 229, 229);
    text-align: justify;
    align-items: center;
    justify-content: center;
    background: rgb(68, 68, 68);
    border: 2.5px solid black;
    box-shadow: 0 6px 0 6px black;
    filter:drop-shadow(10px 7px 10px rgb(233, 232, 232));
}

/* Subscribe */

.subscribe { 
    grid-area: subscribe;
    margin: 1rem;
}

.subscribe-email-container {
    display: block; 
    max-width: 100%; 
    margin: 0 auto; 
    border: .2rem solid black;
    border-radius: 2rem;
    background:rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    margin: 2rem auto;
    padding: 0.5rem;
    filter:drop-shadow(10px 7px 10px black);
}

.subscribe-email {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    padding: 15px; 
}

/* Email */

input {
    padding: 1rem;
    margin: .5rem auto;
    max-width: 10rem;
    border: 1.5px solid black;
    border-radius: 3.4px; 
}

label {
    display: flexbox;    
    font-size: 1.3rem;
}

/* Follow */

.follow { 
    grid-area: follow;
    margin: 1rem;
}

.socials {
        display: block; 
        max-width: 100%; 
        margin: 0 auto;
        border: .2rem solid black;
        border-radius: 2rem;
        background:rgb(250 250 250);
        margin: 2rem auto;
        padding: 0.5rem;
        filter:drop-shadow(10px 7px 10px black); 
}

/* Contact */

.contact { 
    grid-area: contact;
    margin: 1rem;
}

.contact-info-upper {
    display: block; 
    max-width: 100%; 
    margin: 0 auto;
    text-align: center;
    border: .2rem solid black;
    border-color: black;
    background: whitesmoke;
    border-radius: 4rem;
    margin: 2rem auto;
    padding: 0.5rem;
    filter:drop-shadow(10px 7px 10px black);  
}

#reach-out {
    display: flex; 
    justify-content: center;
    flex-direction: column; 
}



.contact-icon {
    cursor: pointer;
    min-height: 1rem;
}

.contact-link:hover {
    border-radius: .3rem;
    background-color: rgb(68, 68, 68);
}

/* Words of Encouragement */

.woe { 
    grid-area: woe;  
}

.encourage {
    display: block; 
    max-width: 100%; 
    margin: 0 auto;
    text-align: center;
    border: .2rem solid black;
    border-color: black;
    background: whitesmoke;
    border-radius: 4rem;
    margin: 2rem auto;
    padding: 0.5rem;
    filter:drop-shadow(10px 7px 10px black);
}

/* Footer */

.closing { 
    grid-area: closing;
    border: 2.5px solid black;
    box-shadow: 0 6px 0 6px black;
    filter:drop-shadow(10px 7px 10px rgb(233, 232, 232)); 
}

#quote {
    font-weight: 725;
    font-style: italic;
    filter:drop-shadow(3px 3px 3px rgb(233, 232, 232));
    margin-bottom: 15rem;
}

/* Media Query */

@media (max-width: 740px) { 
.home-container {  
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: .03fr 1fr 1fr .06fr .09fr .06fr .06fr 1fr .03fr;
    gap: 15rem;
    grid-auto-flow: row;
    grid-template-areas:
      "opening"
      "checklist"
      "blog-post-card"
      "about-details"
      "subscribe"
      "follow"
      "contact"
      "woe"
      "closing";
  }

  .opening,
  .checklist,
  .blog-post-card,
  .about-details,
  .subscribe,
  .follow,
  .contact,
  .woe {
    margin-bottom: 10rem;
  }

  .woe {
    margin: .7rem;
  }

  .logo {
    font-size: 3rem;
  }

  button {
    font-size: .6rem;
    height: 2.5rem;
    width: 4rem;
    text-align: center;
    padding: .52rem;
}

  #question {
    width: 70vw;
  }

  #vintage-img {
    width: 60vw;
  }

  #title-catcher {
    font-size: 2rem;
}

  .section_text_p,
    .section_text_p1,
    .section_text_p2,
    .section_text_p3 {
        font-size: 1rem;
        text-align: justify;
        padding: 25px;
        font-weight: 400;
    }

    .nav-links {
        display: block;
        text-align: center;
        font-size: .9rem;
        margin-top: 0;
    }

    input {
        padding: 1rem;
        margin: .5rem auto;
        max-width: 10rem;
        border: 1.5px solid black;
        border-radius: 3.4px; 
    }
    
    label {
        display: block;    
        font-size: 1rem;
    }

   #socials,
   #sources {
    display: flex;
   }
}

