/* General */

* {
    margin: 0px;
    padding: 10px;  
}

.container {
    overflow: hidden;
}

body {
    font-family: 'Kalam', cursive;
    font-family: 'Panchang', sans-serif;
    font-weight: 450;
    background: linear-gradient(to right, rgb(182, 181, 181), rgb(110, 97, 79), rgb(137, 119, 94));
}

html {
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    justify-content: center;
    font-family: 'Melodrama', serif;
    font-size: 70px;
    padding: 20px;
    border: 2.5px solid black;
    box-shadow: 0 6px 0 6px black;
    filter:drop-shadow(10px 7px 10px rgb(233, 232, 232));
   
}

.logo:hover {
    cursor: default;
}

.nav-links {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 10vh;
   padding: 15px;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(215, 213, 213);
    text-decoration: underline;
    text-underline-offset: .6rem;
    filter:drop-shadow(10px 7px 10px black);
}

/* Sections */

section {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    margin: 0 8rem;
}

/* Profile Section */

#profile {
  gap: 5rem; 
}

.profile-list {
    display: center;
    justify-content: center;
    border: .2rem solid black;
    border-radius: 2rem;
    background:rgb(250 250 250);
    margin: 2rem auto;
    padding: 1.5rem;
    filter:drop-shadow(10px 7px 10px black); 
}

.section_pic_container {
    display: flex;
}

.section_pic_container img {
    position: relative;
    left: -200px;
    height: 60vh;
    width: 40vw;
    padding-top: 50px;
    margin: 50px;
    border: 0 solid transparent;
    border-radius: 6.5rem;
    box-shadow: 0 8px 0 8px black;
    filter:drop-shadow(10px 7px 10px black);
}

.section_text {
    align-self: center;
}

.section_text_p {
    text-align: left;
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p2 {
    text-align: left;
    font-size: 1rem;
}

.section_text_p3 {
    text-align: left;
    margin-bottom: 4.5rem;
    font-size: 1.1rem;
    font-style: bold;
    color: rgb(3, 3, 3);
}

.section_text_p4 {
    text-align: center;
    font-size: 1.3rem;
}

.section_text_p4_ {
    text-align: center;
    font-size: 1rem;
}

.title {
    font-size: 2rem;
    text-align: center;
   
}

#title-catcher {
    font-size: 3rem;
    font-family: 'Melodrama', serif;
    
 }

.blog-post-card {
    display: block;
    height: 80vh;
    width: 50vw;
    padding-top: 50px;
    margin: 0 auto;
    border: 0 solid transparent;
    border-radius: 8rem;
    box-shadow: 0 10px 0 10px black;
    filter:drop-shadow(10px 7px 10px rgb(250, 249, 249));
}

.icon {
    cursor: pointer;
    height: 3.3rem;
}

.email-icon {
    cursor: pointer;
    height: 4rem;
}

/* Email */

input {
    padding: 1rem;
    width: 10rem;
    border: 1.5px solid black;
    border-radius: 3.4px; 
}

label {
    font-size: 1.3rem;
}

/* Button */

.subscribe-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

button {
    font-weight: 600;
    background-color: rgb(68, 68, 68);
    color: rgb(239, 239, 239);
    padding: 1rem;
    width: 10rem;
    border: 1.5px solid black;
    border-radius: 3.5px;
    filter:drop-shadow(10px 7px 10px black);
}

button:hover {
    cursor: pointer;
    background-color: rgb(141, 142, 142);
}

.btn {
    color: whitesmoke;
}

.about-container {
    display: center;
    justify-content: center;
    border: 1.4rem solid black;
    border-radius: 2rem;
    background:rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    margin: 2rem auto;
    padding: 0.5rem;
    filter:drop-shadow(10px 7px 10px black);
}

.subscribe-email-container { 
    display: center;
    justify-content: center;
    border: .2rem solid black;
    border-radius: 2rem;
    background:rgb(250 250 250);
    margin: 2rem auto;
    padding: 0.5rem;
    filter:drop-shadow(10px 7px 10px black);
}

.subscribe-email {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}


.follow-container {
    display: center;
    justify-content: center;
    border: .2rem solid black;
    border-radius: 2rem;
    background:rgb(250 250 250);
    margin: 2rem auto;
    padding: 0.5rem;
    filter:drop-shadow(10px 7px 10px black);
}

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    text-align: center;
    border: .2rem solid black;
    border-color: black;
    background: whitesmoke;
    border-radius: 4rem;
    margin: 2rem auto;
    padding: 0.5rem;
    filter:drop-shadow(10px 7px 10px black);
}

.contact-icon {
    cursor: pointer;
    height: 3rem;
}

.footer-container {
    display: center;
    justify-content: center;
    border: .2rem solid black;
    border-radius: 2rem;
    border: 2.5px solid black;
    box-shadow: 0 7px 0 7px black;
    filter:drop-shadow(10px 8px 10px rgb(249, 248, 248));
}

#quote {
    font-weight: 725;
    font-style: italic;
    filter:drop-shadow(3px 3px 3px rgb(233, 232, 232));
    margin-bottom: 15rem;
}
