/* General */

* {
    margin: 0px;
    padding: 10px;  
}

.container {
    overflow: hidden;
}

.html {
    scroll-behavior: smooth;
    font-family: 'Melodrama', serif;
    font-family: 'Telma', cursive;
    font-family: 'General Sans', sans-serif;
}

body {
    background: linear-gradient(to right, rgb(182, 181, 181), rgb(110, 97, 79), rgb(137, 119, 94));
}

.text-article {
    font-weight: 400;
    font-family: 'Panchang', sans-serif;
    width: 600px;
    padding: 20px;
    margin-top: 150px;
    text-align: justify;
}

/* header Grid 1*/

#zero {
    grid-column: 1 / -1; 

}
.container-1 {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: span 1 / -1;
    grid-auto-rows: minmax(150px, auto);
    justify-content: center;
    align-content: center; 
    color: rgb(20, 17, 17);
    margin: 2rem auto;
    padding: 0.5rem;
    font-family: 'Kalam', cursive;
    font-family: 'Panchang', sans-serif;
    font-weight: 450;
    border: 2.5px solid black;
    box-shadow: 0 6px 0 6px black;
    filter:drop-shadow(10px 7px 10px rgb(233, 232, 232));
}

.box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Melodrama', serif;
    font-size: 50px;
    padding: 15px;
}

#headers {
    display: flex;
    justify-content: center;
    font-family: 'Melodrama', serif;
    font-size: 70px;
    padding: 20px;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    padding: 15px;
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(215, 213, 213);
    text-decoration: underline;
    text-underline-offset: .6rem;
    filter:drop-shadow(10px 7px 10px black);
}

button {
    font-weight: 600;
    background-color: rgb(4, 4, 4);
    color: rgb(239, 239, 239);
    padding: 1rem;
    width: 10rem;
    border: 1.5px solid black;
    border-radius: 3.5px;
    filter:drop-shadow(10px 7px 10px black);
}

button:hover {
    cursor: pointer;
    background-color: rgb(141, 142, 142);
}

.btn {
    color: whitesmoke;
}

#header {
    padding: 23px;
}

#header:hover {
    cursor: default;
}



/* open wide screen to make sure grid are on the rigth track */

/* Body Grid 2  */
.box-2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Panchang', sans-serif;
    font-size: 15px;
    border: 10px double rgb(35, 34, 34);
    padding: 15px;
    margin-bottom: 15px;
}

.container-2 {
    display: grid;
    grid-template-columns: 850px 500px;
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 25px;
    flex-direction: row;
    justify-content: center; 
    border: 2.5px solid black;
    box-shadow: 0 6px 0 6px black;
   
    padding: 15px;
}

#one {
    grid-row: span 2;
}

.avatar-pic {
    display: block;
    height: 40vh;
    width: 25vw;
    padding-top: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 0 solid transparent;
    border-radius: 8rem;
    box-shadow: 0 10px 0 10px black;
    filter:drop-shadow(10px 7px 10px );
}

.greeting {
    font-family: 'Telma', cursive;
    font-size: 25px;
    font-weight: 200;
}

.credentials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 5vh;
    padding: 10px;
    gap: 2rem;
    list-style: none;
    font-weight: 400;
}

.credentials-list {
    display: flex;
    gap: 3rem;
    padding: 25px;
    margin-top: 50px;
    list-style: none;
}

h3 {
    margin-bottom: 25px;
}

/* guest */

#two {
    grid-row: span 2;
}


.avatar-pic-2 {
    display: block;
    height: 30vh;
    width: 20vw;
    padding-top: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 0 solid transparent;
    border-radius: 8rem;
    box-shadow: 0 10px 0 10px black;
    filter:drop-shadow(10px 7px 10px );
}

#three-a {
    grid-column: span 2;
}

#three {
    grid-row: span 1;
}


#four {
    grid-row: span 1;  
}

#five {
    grid-column: span 2;
}






/* open wide screen to make sure grid are on the rigth track */

/* Footer */

.container-3 {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: span 1 / -1;
    grid-auto-rows: minmax(150px, auto);
    justify-content: center;
    align-content: center; 
    color: rgb(20, 17, 17);
    margin: 2rem auto;
    padding: 0.5rem;
    font-family: 'Kalam', cursive;
    font-family: 'Panchang', sans-serif;
    font-weight: 450;
    border: 2.5px solid black;
    box-shadow: 0 6px 0 6px black;
    filter:drop-shadow(10px 7px 10px rgb(233, 232, 232));
}

.box-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Melodrama', serif;
    font-size: 50px;
    padding: 15px;
}


