
body {
    background: rgb(72, 72, 72);
}

/* All Grids layout */

.grid-item {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    padding: 30px;
}

/* Grid 1 layout */

.grid-container_1 {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 100px;
    justify-content: center;
    align-content: center;
    background-color: rgb(241, 245, 244);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px;
    margin-bottom: 165px;    
    padding: 50px;
    font-family: 'Kalam', cursive;
    font-family: 'Panchang', sans-serif;
    font-weight: 450;
    border: 0 solid transparent;
    border-radius: 6.5rem;
    box-shadow: 0 8px 0 8px black;
    filter:drop-shadow(10px 7px 10px black);
}

/* Grid Container 1 Layout Settings */

.grid-item-1_blog-header {
    grid-column: 1 / -1;
}

/* Grid 2 layout */

.grid-container_2 {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap: 100px;
    grid-column-gap: 100px;
    justify-content: center;
    align-content: center;
    background-color: rgb(241, 245, 244);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px;
    margin-bottom: 35px;    
    padding: 50px;
    font-family: 'Kalam', cursive;
    font-family: 'Panchang', sans-serif;
    font-weight: 450;
    border: 0 solid transparent;
    border-radius: 6.5rem;
    box-shadow: 0 8px 0 8px black;
    filter:drop-shadow(10px 7px 10px black);
}

/* Grid Container 2 Layout Settings */

.grid-item-1_webdev-header {
    grid-column: 1 / -1;
}

.grid-item-2_guest {
    grid-column: span 4;
}

.grid-item-3_f-end{
    grid-column: span 4;
}

.grid-item-4_tech {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-item-5_learn {
    grid-column-start: 3;
    grid-column-end: 5;
}

.grid-item-6_archive {
    grid-column: span 4;
}

.grid-item-7_footer {
    grid-column: 1 / -1;
}

/* Header */

.grid-item-1_blog-header {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: 'Melodrama', serif;
    font-size: 70px;
    padding: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    padding: 15px;
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(150, 3, 3);
    text-decoration: underline;
    text-underline-offset: .6rem;
    filter:drop-shadow(10px 7px 10px black);
}

/* Intro */
























.grid-item-7_footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: 'Melodrama', serif;
    font-size: 70px;
    padding: 20px;
}