/* header */

.container-1 {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: span 1 / -1;
    grid-auto-rows: minmax(150px, auto);
    justify-content: center; 
    border: 2px solid black;
    padding: 45px;
}

.box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Melodrama', serif;
    font-size: 50px;
    border: 10px solid rgb(206, 53, 53);
    padding: 15px;
}

.box-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Melodrama', serif;
    font-size: 50px;
    border: 10px solid rgb(206, 53, 53);
    padding: 15px;
}

.box-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Melodrama', serif;
    font-size: 50px;
    border: 10px solid rgb(206, 53, 53);
    padding: 15px;
}

#header {
    padding: 23px;
}

#header:hover {
    cursor: default;
}

/* open wide screen to make sure grid are on the rigth track */

/* Body */

.container-2 {
    display: grid;
    margin: auto;
    grid-template-columns: 850px 450px;
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 25px;
    grid-template-areas: "top top" "bottomLeft bottomRight";
    flex-direction: row;
    justify-content: center; 
    border: 2px solid black;
    padding: 15px;
}

.box-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid rgb(206, 53, 53);
    padding: 15px;
}

#one {
    grid-column: 1 / -1; 

}

#two {
    grid-row: span 3;
}

#three {
    grid-row: span 3;
}

#four {

}

#five {
grid-row: span 2;
}

#six {

}
/* open wide screen to make sure grid are on the rigth track */

/* Footer */

.container-3 {
    display: grid;
    margin-top: 50px;
    grid-template-columns: span 1 / -1;
    grid-auto-rows: minmax(150px, auto);
    justify-content: center; 
    border: 2px solid black;
    padding: 45px;
}

.box-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid rgb(206, 53, 53);
    padding: 15px;
}


