/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0px;
  padding: 10px;  
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(112, 114, 112, 0.616);
}

.logo {
    font-size: 50px;
    padding: 20px;
}

.nav-links {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 10vh;
   padding: 15px;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

