/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0px;
  padding: 10px;  
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(112, 114, 112, 0.616);
}

html {
    scroll-behavior: smooth;
}

.logo {
    font-size: 50px;
    padding: 20px;
   
}

.logo:hover {
    cursor: default;
}

.nav-links {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 10vh;
   padding: 15px;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: rgb(230, 230, 230);
}

a:hover {
    color: rgb(246, 241, 230);
    text-decoration: underline;
    text-underline-offset: .6rem;
}

/* Sections */

section {
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    margin: 0 8rem;
}

/* Profile Section */

#profile {
  gap: 5rem; 
}

.section_pic_container {
    display: flex;    
}

.section_text {
    align-self: center;
}

.section_text_p {
    text-align: left;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p2 {
    text-align: left;
    font-size: 1rem;
}

.section_text_p3 {
    text-align: left;
    margin-bottom: 4.5rem;
    font-size: 1.1rem;
    font-style: bold;
    color: rgb(47, 47, 47);
    box-shadow: 0 0 8px rgb(4, 4, 4);
}